@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Futura-light;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #dbfcfa;
}

svg {
  display: block;
  margin: 0 auto;
}

.title {
  max-width: 30em;
}

.heart-rate {
  margin-top: 2rem;
  width: 80%;

  animation: hide 2s ease infinite;
  transition: width 2s, heigh 4s;
}

.info-one {
  width: 100%;
  margin-top: 2rem;
}

.info-two {
  width: 100%;
}

.bandaid {
  width: 15%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  min-width: 10em;
  max-width: 15em;
}

.btn {
  cursor: pointer;
  width: 40%;
  display: block;
}

.btn:hover {
  fill: white;
}

.is-facts .facts path {
  fill: black;
}

.ambulance {
  width: 70%;
  animation: ambulanceshift 3s linear infinite;
}

.map {
  width: 80%;
  margin-top: 1rem;
}

.hand {
  width: 50%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.hand:hover {
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

p {
  font-size: 1.75rem;
  margin: 3rem;
  color: #6d6e70;
}

.banner {
  background-color: #fff;
  overflow: hidden;
}

.banner-content {
  padding: 1rem;
  text-align: left;
}

.banner-content-inner {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.nurses-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nurses-list li {
  margin-bottom: 1.5rem;
}

.nurses-list figure {
  margin: 0;
}

.nurses-list img {
  display: block;
  width: 200px;
}

@keyframes hide {

  0% {
    opacity: 1;
  }

  10% {
    opacity: 1;
  }

  15% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes ambulanceshift {

  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(35px, 0);
  }

  50% {
    transform: translate(0, 0);
  }

  75% {
    transform: translate(-35px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}
